/* Make color adjustments here */

html,body {
    background-color:#a6a8a7;
    color: #242424;
}

a, a:hover, a:visited, a:active, .form-control:focus {
    color:#242424;
}

.btn-main, .btn-alternate, .btn-print {
    background-color:#242424!important;
    color:#a6a8a7!important;
    border: 1px solid #a6a8a7!important;
}

.info {
    color: #a6a8a7;
    background-color:#242424!important;
}

.pt-output, #guide {
    background-color: #ffffff;
    color: #242424;
}

.pubkey-string, .pubkey-string-invert, .privkey-string, .privkey-string-invert {
    color: #242424;
    background-color: #ffffff;
}

td {
    border: 1px solid #242424;
}

/* Extended color adjustment options - not absolutely necessary */

#loader {
    border: 1px solid #bcbcbc;
    background-color: #bcbcbc;
}

#loader h3 {
    color: #ffffff;
}

#overlay {
    background-color: rgba(255, 255, 255, 0.65);
}

#overlay-sub {
    color: #ffffff;
}

.paper-wallet {
    color: #ffffff;
}

.loading {
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: #ffffff;
}
