@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: #ffffff;
  }
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  z-index: 100;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

p{
  margin-bottom: 5px;
}

.row{
  margin-left:0!important;
  margin-right:0!important;
}

.container-fluid {
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0 10px;
  border: 1px solid #cccccc;
}

.header {
  width: 100%;
  text-align:center;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.header h2 {
  line-height: 50px;
  display: inline-block;
  margin: 12px 20px;
  padding: 0;
  top: 0;
  font-weight: bold;
}

#logo {
  width:80px;
  margin-top:20px;
  display: inline-block;
}

.info {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  z-index: 100;
}

.info h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
}

.info .inner {
  width: 60%;
  padding: 20px;
  line-height: 1.6;
  float: none;
  margin: 0 auto;
}

.btn-main {
  background-color: transparent;
  padding: 0.8em 1em;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  border-radius: 0.25rem;
  text-transform:uppercase;
  text-decoration:none;
}

.btn-alternate {
  background-color: transparent;
  padding: 0.8em 1em;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  border-radius: 0.25rem;
  text-transform:uppercase;
  text-decoration:none;
  margin-top: .5rem!important;
}

.btn-print {
  padding: 0.5em 1em;
  font-size: 12px;
  line-height: 24px;
  border-radius: 0.25rem;
  text-transform:uppercase;
  text-decoration:none;
  margin-right: .5rem!important;
}

.form-control:focus {
  border-color: #989898;
  outline: 0;
  box-shadow: none
}

.normal-height {
  line-height: 0;
}

.pt-output {
  background-color: #EEE;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.8;
}

.row-key {
  font-weight: bold;
}

.terms {
  margin-top:10px;
  font-size: 10px;
  line-height:1.2em;
  padding:20px;
}

#print,
#reset {
  display: none;
}

/* ported from old main.css */
#loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1001;
  width: 400px;
  height: 150px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  background-color: #bcbcbc;
}

#loader img {
  vertical-align: bottom;
  position: relative;
  z-index: -1;
  border-radius: 5px;
}

h3{
  margin-left:10px;
}

#loader h3 {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  margin-left:0px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 1000;
  display: none;
}

#overlay-sub {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.wallet-container {
  margin: 0 auto;
  width: 1024px;
  display: none;
  padding-bottom: 40px;
}

/* random terrible css */
.paper-wallet {
  width: 1024px;
  position: relative;
  font-size: 10px;
  color: #FFF;
  margin: 15px 0;
}

.paper-wallet img {
  vertical-align: baseline;
}

.paper-background,
.paper-backside
{
  width: 1024px;
}

.pubkey-string {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 45px;
  left: 37px;
  width: 447px;
  text-align: center;
  letter-spacing: 0.5px;
}

.pubkey-string-invert {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 48px;
  left: 37px;
  width: 447px;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.pubkey-qr {
  position: absolute;
  top: 102px;
  left: 83px;
}

.privkey-string {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 45px;
  right: 36px;
  width: 447px;
  text-align: center;
  letter-spacing: 0.5px;
}

.privkey-string-invert {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 48px;
  right: 36px;
  width: 447px;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.coin-logo {
  position: absolute;
  top: 117px;
  left: 314px;
}

.coin-logo img{
  width:120px;
}

.website-qr {
  position: absolute;
  top: 102px;
  right: 298px;
}

.privkey-qr {
  position: absolute;
  top: 102px;
  right: 82px;
}

.terms {
  font-size: 10px;
}

.info:after {
  content: "";
  display: table;
  clear: both;
}

.layout-center {
  width: 60%;
  padding: 50px 20%;
  line-height: 1.6;
  float: none;
}

#status {
  display: none;
}

.input-large {
  width: 520px !important;
}

.loading {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: #ffffff;
  animation: spin 1s infinite linear;
}

.loading--double {
  border-style: double;
  border-width: 0.5rem;
}

#overlay-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.loadercontent {
  font-family: 'Ubuntu', sans-serif;
}

#decrypt-tab-btn:hover {
  background: #ffffff;
  color: #000000;
}

#genny {
  padding-bottom: 0px!important;
}

.btn-alternate:hover {
  background-color: #795548;
  color: #ffffff;
}

#generate-tab-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

#decrypt-tab-0 {
  margin-top: 20px
}

#guide {
  padding: 20px;
  background-color:rgb(237, 237, 237);
  border-radius:10px;
  margin-bottom:45px;
}

#plain-text-0 {
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
}

#plain-text-1 {
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
}

#plain-text-2 {
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
}

#plain-text-3 {
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
}

#decrypt_password {
  width: 30%;
  margin-right: .5rem!important;
}

#encrypted {
  width: 40%
}

#decrypt {
  width: 13%
}

#reset_decrypt {
  width: 13%
}

#password {
  width: 35%
}

#decrypt-tab-1 {
  margin-top: 20px
}

#decrypt-tab-2 {
  margin-top: 20px
}

#decrypt-tab-3 {
  margin-top: 20px
}

@media(max-width:768px){
  .form-inline input, .form-inline select{
    width:100%!important;
  }
}